@import 'tailwindcss';
@import './assets/catppuccin.css';

@theme {
  /* Catppuccin Colors Mapping */
  --color-ctp-rosewater: var(--ctp-rosewater);
  --color-ctp-flamingo: var(--ctp-flamingo);
  --color-ctp-pink: var(--ctp-pink);
  --color-ctp-mauve: var(--ctp-mauve);
  --color-ctp-red: var(--ctp-red);
  --color-ctp-maroon: var(--ctp-maroon);
  --color-ctp-peach: var(--ctp-peach);
  --color-ctp-yellow: var(--ctp-yellow);
  --color-ctp-green: var(--ctp-green);
  --color-ctp-teal: var(--ctp-teal);
  --color-ctp-sky: var(--ctp-sky);
  --color-ctp-sapphire: var(--ctp-sapphire);
  --color-ctp-blue: var(--ctp-blue);
  --color-ctp-lavender: var(--ctp-lavender);
  --color-ctp-text: var(--ctp-text);
  --color-ctp-subtext1: var(--ctp-subtext1);
  --color-ctp-subtext0: var(--ctp-subtext0);
  --color-ctp-overlay2: var(--ctp-overlay2);
  --color-ctp-overlay1: var(--ctp-overlay1);
  --color-ctp-overlay0: var(--ctp-overlay0);
  --color-ctp-surface2: var(--ctp-surface2);
  --color-ctp-surface1: var(--ctp-surface1);
  --color-ctp-surface0: var(--ctp-surface0);
  --color-ctp-base: var(--ctp-base);
  --color-ctp-mantle: var(--ctp-mantle);
  --color-ctp-crust: var(--ctp-crust);
}
